@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes breeze {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  25% {
    transform: rotate(2deg) translateX(5px);
  }
  50% {
    transform: rotate(0deg) translateX(0);
  }
  75% {
    transform: rotate(-2deg) translateX(-5px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}

@keyframes breezeCenter {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  25% {
    transform: translateX(-50%) rotate(2deg) translateX(5px);
  }
  50% {
    transform: translateX(-50%) rotate(0deg);
  }
  75% {
    transform: translateX(-50%) rotate(-2deg) translateX(-5px);
  }
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}

.leaf {
  animation: breeze 6s ease-in-out infinite;
  transform-origin: center;
}

.leaf-center {
  animation: breezeCenter 6s ease-in-out infinite;
  transform-origin: center;
}
